<h1>Plots#new</h1>
<p>Find me in app/views/plots/new.html.erb</p>
<%= form_with model: @plot, local: true do |f| %>
  <label class="form-group">title</label>
    <%= f.text_field :title, class: 'form-control' %>
  <label class="form-group">body</label>
    <%= f.text_area :body, class: 'form-control' %>
    <%= f.submit "Submit", class: 'btn btn-success' %>
<% end %>