<ul class="navbar-nav">
  <% if user_signed_in? %>
    <li>
      <%= link_to " 投稿されたプロットを見る", plots_path, class: 'nav-link text-light fas fa-book-reader' %>
    </li>
    <li>
      <%= link_to " 他のユーザーを見る", users_path, class: 'nav-link text-light fas fa-users' %>
    </li>
    <li>
      <%= link_to " タグから探す", tags_path, class: 'nav-link text-light fas fa-tags' %>
    </li>
  <% else %>
    <li>
      <%= link_to " このサイトについて", about_path, class: 'nav-link text-light fas fa-info-circle'%>
    </li>
  <% end %>
</ul>
