<ul class="navbar-nav">
  <% if user_signed_in? %>
    <li>
      <%= link_to " プロットを書いてみる", new_plot_path, class: 'nav-link text-light fas fa-book-open' %>
    </li>
    <li>
      <%= link_to " 他のユーザーを見る", users_path, class: 'nav-link text-light fas fa-users' %>
    </li>
    <li>
      <%= link_to " タグから探す", tags_path, class: 'nav-link text-light fas fa-tags' %>
    </li>
    <li>
      
    </li>
  <% else %>
    <li>ようこそ ゲスト さん</li>
  <% end %>
</ul>