  <h1 class="title">ユーザー一覧</h1>
  <h4>あなたイチオシのクリエイターを見つけよう！</h4>
<% @users.each do |user| %>
  <%= link_to user_path(user.id) do %>
    <%= user.name %>
  <% end %>
  <%= user.email %>
  <%= user.introduction %>
<% end %>