<div class="row">
  <div class="col-2">
    <% if @user.icon.attached? %>
      <%= image_tag @user.icon %>
    <% else %>
      <%= image_tag 'no_image.png', size: '150x150' %>
    <% end %>
  </div>
  <div class="col-10 d-flex align-items-center">
    <h2><%= @user.name %></h2>
    <h4><%= @user.introduction %></h4>
  </div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-10">
    <p>フォロワー数</p>
  </div>
</div>