<div class="d-flex flex-column">
  <%= render 'info', user: @user %>
  <%# 投稿一覧とブックマークをボタンを押すと出てくる感じにする %>
<div class="row">
  <p>
    <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      いいねした投稿
    </button>
  </p>
  <div class="collapse" id="collapseExample" style="">
    <div class="card card-body">
      <p>物語の「プロット」を集めて公開、クリエイティブ・コモンズ・ライセンスの元で自由に利用することができるコミュニティサイトです。</p>
      <p>利用方法やライセンスについては <%= link_to " こちら", about_path %></p>
    </div>
  </div>
</div>
  <h3>いいねした投稿</h3>
  <% @user.liked_plots.each do |plot| %>
    <%= plot.user.name %>
    <%= plot.title %>
  <% end %>
</div>