<h1>Tags#index</h1>
<p>Find me in app/views/tags/index.html.erb</p>
<% @tag_list.each do |list| %>
  <%= link_to list.tag_name, tag_plots_path(tag_id: list.id) %>
  <%= "(#{list.plots.count})" %>
<% end %>