<div class="row">
  <h1 class="title">プロットを書く前に</h1>
</div>
<div class="shadow-lg p-3 mb-5 mt-3 bg-white rounded">
  <div class="">
    <h2>投稿時の注意点</h2>
    <a>
      このサイトに投稿された作品は全てクリエイティブ・コモンズによってライセンスされることになります。<br>
      よって投稿者は、下記の注意点に十分配慮して投稿するようにしてください。<br>
      これらの注意点を守らず、トラブル等が生じた場合においても当サイト及び管理者は責任を負いません。
    </a>
  </div>
  <div class="mt-3">
    <h2>ライセンスの遵守</h2>
    <a>
      クリエイティブ・コモンズのライセンスを遵守してください。<br>
      投稿された作品は他人により改変・商用利用することが認められます。これらの権利を投稿者が制限することはできません。<br>
      投稿作品には当サイトが自動でクリエイティブ・コモンズのライセンス表示を行いますが、これらを変更したりライセンスを誤認させるような紛らわしい表示を行うことはできません。
    </a>
  </div>
  <div class="mt-3">
    <h2>他者の著作物の許諾を得ない流用はできません</h2>
    <a>
      当サイトのエディタでは画像、動画（YouTube等）などの投稿も可能です。<br>
      それらの画像・動画については自身の作品であることを必ず確認してください。<br>
      他者の画像・動画を著作権者の許可なくクリエイティブ・コモンズにおいてライセンスすることはできません。ライセンスができるのは、純粋にあなたが作成したコンテンツに限ります。<br>
    </a>
  </div>
  <div class="mt-3">
    <h2>ガイドライン・ポリシーと国内法の適用について</h2>
    <a>
      全ての投稿作品には日本国の法律が適用され、当サイトの利用及び自身が提供するコンテンツに対し責任を負います。<br>
      投稿された作品、また利用者によって行われたいかなる意見においても、当サイトはそれらを是認するものではありません。<br>
      ここは自由で開かれた言論空間であり、表現の自由は尊重されるべきだと考えています。これらの理念を実現するために、嫌がらせや脅し、他人を辱め侮辱する行為は禁じられます。<br>
      自由な表現は全ての表現を制限なく認めることではありません。当サイトは個人または集団に向けた暴力をほのめかす表現、暴力を賛美する表現を禁止します。<br>
      これらは現代社会においてなおも発生している事件や攻撃のみならず、過去の歴史上において特定の集団が標的にされた暴力事件を賛美することも含まれます。
    </a>
  </div>
</div>
