<div class="row">
  <div class="col-md-4">
    <h2>見出し</h2>
    <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
    <p><a class="btn btn-secondary" href="#" role="button">詳しくみる &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>見出し</h2>
    <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
    <p><a class="btn btn-secondary" href="#" role="button">詳しくみる &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>見出し</h2>
    <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
    <p><a class="btn btn-secondary" href="#" role="button">詳しくみる &raquo</a></p>
  </div>
</div>