<div class="row">
  <h2>おすすめのプロット</h2>
</div>
<div class="row mt-3">
  <% all_ranks.each do |rank| %>
  <div class="col-md-4 card bg-light">
    <h2 class="card-title mt-3"><%= rank.title %></h2>
    <p class="card-body"><%= rank.body %></p>
    <p><a class="btn btn-secondary" href="#" role="button">詳しくみる &raquo;</a></p>
  </div>
  <% end %>
</div>
