<div class="row">
  <h2>おすすめのプロット</h2>
</div>
<div class="row mt-3">
  <% all_ranks.each do |rank| %>
  <div class="col-md-4 card bg-light">
    <h2 class="card-title mt-3"><%= rank.title %></h2>
    <div class="card-body">
      <p><i class="fas fa-heart"></i> <%= rank.likes.count %> いいね</p>
      <p><%= rank.user.name %> さんの作品</p>
    </div>

    <%# binding.pry %>
    <p><%= link_to '詳しく見る', plot_path(rank.id), class: 'btn btn-secondary' %></p>
  </div>
  <% end %>
</div>
