<div class="row">
  <h1 class="title">このサイトについて</h1>
</div>
<div class="shadow-lg p-3 mb-5 mt-3 bg-white rounded">
  <div class="">
    <h2>プロットプロットへようこそ！</h2>
    <a>
      このサイトでは思いついたプロット（物語のアイデア）を投稿して共有することができます。<br>
      投稿された作品は全てクリエイティブ・コモンズによってライセンスされ、誰でも使用することができます。<br>
    </a>
  </div>
  <div class="mt-3">
    <h2>登録方法</h2>
    <a>
      このサイトでは全ての利用者に無料のアカウント登録をお願いしております。<br>
      これは投稿された作品がライセンスされていることを明確にし、権利を保護するためです。<br>
      アカウント登録は <%= link_to 'こちら', new_user_registration_path %> からどうぞ。
    </a>
  </div>
  <div class="mt-3">
    <h2>投稿方法</h2>
    <a>
      <br>
      <br>
    </a>
  </div>
  <div class="mt-3">
    <h2>ライセンスについて</h2>
    <a>
      <br>
      <br>
    </a>
  </div>
</div>