<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">プロット・プロットへようこそ！</h1>
    <p>
      <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        このサイトは？
      </button>
    </p>
    <div class="collapse" id="collapseExample" style="">
      <div class="card card-body">
        <p>物語の「プロット」を集めて公開、CCライセンスの元で自由に利用することができるコミュニティサイトです。</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>見出し</h2>
      <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
      <p><a class="btn btn-secondary" href="#" role="button">詳しくみる &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>見出し</h2>
      <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
      <p><a class="btn btn-secondary" href="#" role="button">詳しくみる &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>見出し</h2>
      <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
      <p><a class="btn btn-secondary" href="#" role="button">詳しくみる &raquo</a></p>
    </div>
  </div>
</div>
<div>
  <%= image_tag 'no_image.png' %>
</div>