  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, world!</h1>
      <!-- <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p> -->
      <p>このテンプレートはシンプルなマーケティング, 情報ウェブサイト向けです。これはジャンボトロンと呼ばれる大きなサイズの文字列と, 3つの補助的コンテンツを持っています。よりユニークな何かを作る際の開始点として使います。</p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      <p><a class="btn btn-primary btn-lg" href="#" role="button">詳しくみる &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <!-- <h2>Heading</h2> -->
        <h2>見出し</h2>
        <!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> -->
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <p><a class="btn btn-secondary" href="#" role="button">詳しくみる &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <!-- <h2>Heading</h2> -->
        <h2>見出し</h2>
        <!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> -->
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <p><a class="btn btn-secondary" href="#" role="button">詳しくみる &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <!-- <h2>Heading</h2> -->
        <h2>見出し</h2>
        <!-- <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p> -->
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        <p><a class="btn btn-secondary" href="#" role="button">詳しくみる &raquo</a></p>
      </div>
    </div>