<div class="row">
  <h1 class="title">アップデート情報</h1>
</div>
<div class="shadow-lg p-3 mb-5 mt-3 bg-white rounded">
  <div>
    <h3>Ver.1.0.1</h3>
    <h6>更新日：2021/04/28</h6>
    <ul class="ml-5 mr-5">
      <li>アップデート情報ページを追加</li>
    </ul>
  </div>
  <div>
    <h3>Ver.1.0.0</h3>
    <h6>更新日：2021/04/16</h6>
    <ul class="ml-5 mr-5">
      <li>サービスローンチ</li>
      <li>AWS VPCでの公開</li>
    </ul>
  </div>
  <div class="d-flex justify-content-center"><%= link_to 'トップページに戻る', root_path, class: 'btn btn-info' %></div>
</div>
