/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "summernote-bs4";
@import "summernote-custom-theme.min";

// Installed Font
@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Noto+Sans+JP&family=Noto+Serif+JP&display=swap');

// CSS Font Settings
// CSS Reset and default font set.

// 全体設定
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

// 各ページタイトル用
.title {
  font-family: 'Kosugi', sans-serif;
}

// 本文用、修正すること
.test {
  font-family: 'Noto Serif JP', serif;
}