// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*赤いハート*/
.heart_red {
  font-size: 30px;
  color:#e54747;
}

/*青いハート*/
.heart_blue {
  font-size: 30px;
  color:#528fff;
}