<p>ご利用ありがとうございます <%= @resource.email %> さん！</p>

<p>プロット・プロット登録パスワードの再設定を行いますので、下記のリンクからアクセスをお願いいたします。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこれを受け取ったあなたがプロット・プロットを利用していなかったり、身に覚えがないときはそのままメールを処分してください。</p>
<p>上記リンクにアクセスし新たなパスワードを設定するまで、パスワードは変更されません。</p>