<header class="bg-dark text-white">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-dark navbar-brand" href="/">プロット・プロット</a>
    <div class="collapse navbar-collapse">
      <%= render 'layouts/search' %>      <%#= 検索バー %>
      <%= render 'layouts/menu' %>        <%#= ナビゲーションバーのユーザーメニュー %>
    </div>
  </nav>
</header>